# SAP Gateway Dev System URL (Used by Vite proxy in development)
VITE_SAP_TARGET=https://vhgfldevci.sap.gfl.co.in:44300

# SAP Client ID
VITE_SAP_CLIENT=100

# OData V4 Service Base Path
VITE_ODATA_BASE_URL=/sap/opu/odata4/sap/zptw_mamagement_srv/srvd_a2x/sap/zptw_services/0001/

# Default Initial SAP User ID
VITE_INITIAL_USER_ID=VERTIF-V
